* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 1;

  .menu {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;

    .logo {
        width: 25%;
        height: 100px;
        display: flex;
        align-items: center;
    }

    nav {
        width: 75%;
        height: auto;
        ul {
            display: flex;
            gap: 30px;

            li {
             
                a {
                    font: 500 14px / 100px "Roboto", sans-serif;
                    text-transform: uppercase;
                    color: #05364d;
                    padding: 0px;
                    font-size: 12px;

                    &:hover {
                        color: #EFB6DF;
                        cursor: pointer;
                        transition: 0.5s;
                    }

                }
            }
        }
    }
  }
}


main {
    .sct1 {
        width: 100%;
        height: 890px;
        position: relative;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("https://preview.colorlib.com/theme/breed2/img/banner/home-banner.png.webp");

        img {
            width: 350px;
            height: 594px;
            position: absolute;
            bottom: 11%;
            right: 13%;
          
        }

        .sct1-content {
            width: 80%;
            height: 322px;
           
            .sct1-text {
                width: 540px;
                height: 322px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
    

                span {
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    letter-spacing: 2px;
                    color: #797979;
                }

                h2 {
                    margin-top: 20px;
                    font-size: 60px;
                    font-weight: 500;
                    line-height: 60px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }

                p {
                    font-size: 24px;
                    font-weight: 300;
                    margin-bottom: 0px;
                }

                .icons {
                    display: flex;
                    gap: 20px;
                    width: 100%;
                    margin-bottom: 30px;
                    margin-top: 30px;

                    i {
                        font-size: 22px;
                        line-height: 27px;
                        font-weight: 300;
                        color: #797979;
                    }
                }

                a {
                    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
                    color: #fff;
                    letter-spacing: 0px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 50px;
                    padding: 15px 38px;
                    outline: none !important;
                    text-align: center;
                    cursor: pointer;
                    text-transform: uppercase;
                    border-radius: 5px;

                }
            }
        }
    }

    .sct2 {
        width: 100%;
        height: 1400px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        .sct2-top {
            width: 80%;
            height: 141px;

            p {
                font-size: 14px;
                line-height: 27px;
                font-weight: 300;
                font-family: "Roboto", sans-serif;
                color: #797979;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 500;
                position: relative;
                margin-bottom: 10px;
            }

            h2 , h3 {
                font-size: 42px;
                font-weight: 700;
                margin-bottom: 0px;
                line-height: 52px;
                text-transform: capitalize;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                color: #05364d;
            }
        }

        .sct2-nav {
            width: 80%;
            height: 60px;
            display: flex;
            align-items: center;

            ul {
                display: flex;
                gap: 10px;
                li {
                    a {
                        margin-right: 40px;
                        font-size: 13px;
                        font-weight: 400;
                        text-transform: uppercase;
                        color: #05364d;
                        cursor: pointer;

                    }
                }

            }
        }

        .sct2-images {
            margin-top: 20px;
            width: 80%;
            height: 1229px;
            display: flex;

            .part1 {
                width: 540px;
                height: 1188px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .img1 {
                    width: 540px;
                    height: 837px;
                    object-fit: cover;
                }

                .img2 {
                    width: 540px;
                    height: 331px;
                    object-fit: cover;
                }
            }

            .part2 {
                width: 640px;
                height: 1188px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;

                .img3 {
                    width: 540px;
                    height: 305px;
                }

                .flex {
                    display: flex;
                    width: 540px;
                    justify-content: space-between;
               
                    img {
                        width: 255px;
                        height: 303px;
                        object-fit: cover;

                    }
                }

                .img4 {
                    width: 540px;
                    height: 529px;
                    object-fit: cover;
                }

            }
        }
    }

    .sct3 {
        height: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &-title {
            width: 80%;
            height: 221px;

            span {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 500;
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 27px;
                font-family: "Roboto", sans-serif;
                color: #797979;
                text-align: left;
            }

            h2 {
                font-size: 42px;
                font-weight: 700;
                margin-bottom: 0px;
                line-height: 52px;
                text-transform: capitalize;
                font-family: "Roboto", sans-serif;
                color: #05364d;
            }
        }

        &-cards {
            width: 80%;
            height: 617px;
            display: flex;
            justify-content: space-between;

            .card1 {
                width: 380px;
                height: 617px;
                background-color: #f8faff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &:hover {
                    box-shadow: 2px 2px 2px rgb(171, 170, 170);
                    background-color: white;
                    transition: 0.5s;
                }

                &-img {
                    width: 100%;
                    height: 301px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;

                        &:hover {
                            scale: 1.1;
                            transition: 0.5s;
                        }
                    }
                }

                &-text {
                    width: 84%;
                    height: 285px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: start;

                    .text-top {
                        width: 290px;
                        height: 27px;

                        a {
                            display: inline-block;
                            color: #797979;
                            margin-right: 30px;
                            font-size: 14px;
                            line-height: 27px;
                            font-weight: 300;
                            font-family: "Roboto", sans-serif;
                        }
                    }

                    h4 {
                        font-size: 20px;
                        font-family: "Roboto", sans-serif;
                        font-weight: 700;
                        color: #05364d;
                        line-height: 1.2;
                    }
                    p {
                        font-size: 15px;
                        line-height: 27px;
                        font-weight: 300;
                        font-family: "Roboto", sans-serif;
                        color: #797979;
                    }

                    .btn {
                        font-size: 13px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #ed239f;
                        line-height: 27px;
                        font-family: "Roboto", sans-serif;
                        border-bottom: 2px solid  #ed239f;
                    }
                }

            }
        }

        &-bottom {
            width: 80%;
            height: 80px;
            display: flex;
            justify-content: space-between;

            img {
                width: 177px;
                height: 44px;
            }
        }
    }
}

footer {
    width: 100%;
    height: 471px;
    background-color: #021017;;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-content {
        width: 80%;
        height: 231px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        ul { 
            display: flex;
            width: 381px;
            justify-content: space-between;


            li {
                a {
                    font: 500 14px / 80px "Roboto", sans-serif;
                    text-transform: uppercase;
                    color: #FFF;
                    padding: 0px;
                    font-size: 12px;

                }
            }
        }

        .footer-icons {
            display: flex;
            gap: 14px;

            i {
                font-size: 16px;
                padding: 15px;
                border-radius: 50%;
                background-color: white;
                object-fit: cover;
                font-weight: 300;
                text-align: center;

                &:hover {
                    color: white;
                    transition: all 0.4s ease 0s;
                    background-color: #7A35C4;
                    cursor: pointer;
                }
            }
        }

        .footer-bottom {
            width: 760px;
            height: 27px;
            text-align: center;
            display: flex;
            align-items: end;
            justify-content: center;
            margin-top: 15px;

            p {
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                color: #797979;

                span {
                    color: #a932c7;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }
}

@media (max-width: 992px) {


    main .sct1 {
        background-image: none;
    }

    main .sct1 img {
        display: none;
    }

    main .sct1 .sct1-content .sct1-text span {
        font-size: 40px;
    }

    main .sct1 .sct1-content .sct1-text p {
        font-size: 40px;
    }

    main .sct2 {
        height: auto;
    }

    main .sct2 .sct2-images {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }

    main .sct2 .sct2-nav {
        justify-content: center;
    }

    main .sct3 {
        height: auto;
    }

    main .sct3-cards {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }

    main .sct3-title {
        width: 60%;
        margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    }

    main .sct3-bottom img {
        display: none;
    }

    
    
}

@media (max-width: 600px) {

    header .menu nav ul {
        display: none;
    }

    main .sct1 .sct1-content {
        flex-wrap: wrap;
        display: flex;
    }

    main .sct2 .sct2-top {
        height: auto;
    }

    main .sct2 .sct2-nav {
        width: 100%;
        justify-content: center;
    }

    main .sct2 .sct2-nav ul {
        flex-wrap: wrap;
    }

    footer .footer-content .footer-bottom {
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }

    footer .footer-content ul {
        display: none;
    }

    main .sct3-title {
        height: auto;
    }

    main .sct2 .sct2-images .part2 .flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    main .sct2 .sct2-images .part2 .flex img {
        width: 80%;
    }

}